div.name-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 360px;
}

div.cv-title {
    font-size: calc( var(--font-size) + 10px);
    white-space: nowrap;
    width: 100%;
    overflow: visible;
}

div.cv-sub-title {
    white-space: nowrap;
    width: 90%;
    overflow: visible;
}

div.cv-email-phone {
    display: flex;
    font-size: calc(var(--font-size) - 2px);
    width: 80%;
    overflow: visible;
}

div.cv-title, div.cv-sub-title, div.cv-email-phone {
    padding: 5px 5px 8px 5px;
}
