@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);div.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 10px;
  margin: 10px;
}

div.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-transition: border-bottom calc( var(--transition-time) / 3) ease-out;
  transition: border-bottom calc( var(--transition-time) / 3) ease-out;
  border-bottom: 2px solid transparent;
}

div.category-name {
  padding: 0px 10px;
}

div.category-active {
  border-bottom: 2px solid var(--theme-dark);
}

/* TIMELINE */

div.timeline-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

div.timeline-event {
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
}

div.timeline-event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

div.timeline-event-details-container {
  padding: 10px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -o-border-image: linear-gradient(to bottom, transparent 25%, var(--timeline-border-color) 50%, transparent 75%) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, transparent), color-stop(50%, var(--timeline-border-color)), color-stop(75%, transparent)) 1 100%;
     border-image: linear-gradient(to bottom, transparent 25%, var(--timeline-border-color) 50%, transparent 75%) 1 100%;
}

div.timeline-event-details-container,
div.timeline-event-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

div.timeline-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right-width: 2px;
  border-right-style: solid;
  -o-border-image: linear-gradient(to bottom, transparent 0%, var(--timeline-border-color) 5%, var(--timeline-border-color) 95%, transparent 100%) 2 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(5%, var(--timeline-border-color)), color-stop(95%, var(--timeline-border-color)), to(transparent)) 2 100%;
     border-image: linear-gradient(to bottom, transparent 0%, var(--timeline-border-color) 5%, var(--timeline-border-color) 95%, transparent 100%) 2 100%;
}

div.timeline-left div.timeline-event-item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.timeline-left div.timeline-event-details-container {
  border-right-width: 1px;
  border-right-style: solid;
}

div.timeline-left div.timeline-event-details-container,
div.timeline-left div.timeline-event-details {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.timeline-left div.timeline-event-date {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.timeline-left div.timeline-connection {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.timeline-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  position: relative;
  top: 50px;
  padding-bottom: 50px;
  -webkit-transition: padding-bottom var(--transition-time);
  transition: padding-bottom var(--transition-time);
}

div.timeline-right div.timeline-event-details-container {
  border-left-width: 1px;
  border-left-style: solid;
}

div.timeline-right-hidden {
  padding-bottom: 0px;
}

div.timeline-event-title {
  font-size: calc(var(--font-size) + 2px);
}

div.timeline-event-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.timeline-event-date-dash {
  padding: 0px 4px;
}

div.timeline-event-month:not(:last-child) {
  padding-right: 5px;
  font-size: calc(var(--font-size) - 2px);
}

div.timeline-event-description {
  font-size: calc(var(--font-size) - 2px);
}

div.timeline-left div.timeline-event:nth-child(2n) div.timeline-connection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.timeline-right div.timeline-event:nth-child(2n-1) div.timeline-connection {
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
}

div.timeline-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  -webkit-transition: -webkit-box-flex calc( var(--transition-time) / 5) ease-out;
  transition: -webkit-box-flex calc( var(--transition-time) / 5) ease-out;
  transition: flex calc( var(--transition-time) / 5) ease-out;
  transition: flex calc( var(--transition-time) / 5) ease-out, -webkit-box-flex calc( var(--transition-time) / 5) ease-out, -ms-flex calc( var(--transition-time) / 5) ease-out;
}

div.timeline-connection-left,
div.timeline-connection-right {
  height: 2px;
  width: 100%;
}

div.timeline-connection-left {
  background: -webkit-gradient(linear, left top, right top, from(var(--timeline-border-color)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to right, var(--timeline-border-color), rgba(0, 0, 0, 0.75));
}

div.timeline-connection-right {
  background: -webkit-gradient(linear, right top, left top, from(var(--timeline-border-color)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to left, var(--timeline-border-color), rgba(0, 0, 0, 0.75));
}

@-webkit-keyframes timeline-group {
  0% {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  50% {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  100% {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@keyframes timeline-group {
  0% {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  50% {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  100% {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@-webkit-keyframes timeline-connection-enter {
  0% {
    max-width: 0%;
  }

  45% {
    max-width: 0%;
  }

  60% {
    max-width: 100%;
  }

  100% {
    max-width: 100%;
  }
}

@keyframes timeline-connection-enter {
  0% {
    max-width: 0%;
  }

  45% {
    max-width: 0%;
  }

  60% {
    max-width: 100%;
  }

  100% {
    max-width: 100%;
  }
}

@-webkit-keyframes timeline-connection-leave {
  0% {
    max-width: 100%;
  }

  40% {
    max-width: 0%;
  }

  100% {
    max-width: 0%;
  }
}

@keyframes timeline-connection-leave {
  0% {
    max-width: 100%;
  }

  40% {
    max-width: 0%;
  }

  100% {
    max-width: 0%;
  }
}

@-webkit-keyframes timeline-event-details-container-enter {
  0% {
    max-height: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  50% {
    border-left-width: 0;
    border-right-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  60% {
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  100% {
    max-height: 350px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@keyframes timeline-event-details-container-enter {
  0% {
    max-height: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  50% {
    border-left-width: 0;
    border-right-width: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  60% {
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  100% {
    max-height: 350px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@-webkit-keyframes timeline-event-details-container-leave {
  0% {
    max-height: 350px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 10px 10px;
  }

  60% {
    max-height: 0;
    padding: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  100% {
    max-height: 0;
    padding: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}

@keyframes timeline-event-details-container-leave {
  0% {
    max-height: 350px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 10px 10px;
  }

  60% {
    max-height: 0;
    padding: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  100% {
    max-height: 0;
    padding: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}

@-webkit-keyframes timeline-event-details-enter {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes timeline-event-details-enter {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes timeline-event-details-leave {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes timeline-event-details-leave {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes timeline-event-right {
  0% {
    padding-bottom: 0px;
  }

  60% {
    padding-bottom: 50px;
  }

  100% {
    padding-bottom: 50px;
  }
}

@keyframes timeline-event-right {
  0% {
    padding-bottom: 0px;
  }

  60% {
    padding-bottom: 50px;
  }

  100% {
    padding-bottom: 50px;
  }
}

.timeline-group-enter-active {
  -webkit-animation: timeline-group var(--transition-time) ease-out;
          animation: timeline-group var(--transition-time) ease-out;
}

.timeline-group-enter-active .timeline-event-item {
  -webkit-animation: timeline-event var(--transition-time) ease-out;
          animation: timeline-event var(--transition-time) ease-out;
}

.timeline-group-enter-active .timeline-connection-right,
.timeline-group-enter-active .timeline-connection-left {
  -webkit-animation: timeline-connection-enter var(--transition-time) ease-out;
          animation: timeline-connection-enter var(--transition-time) ease-out;
}

.timeline-group-enter-active .timeline-event-details-container {
  -webkit-animation: timeline-event-details-container-enter var(--transition-time) ease-out;
          animation: timeline-event-details-container-enter var(--transition-time) ease-out;
}

.timeline-group-enter-active .timeline-event-details {
  -webkit-animation: timeline-event-details-enter var(--transition-time) ease-out;
          animation: timeline-event-details-enter var(--transition-time) ease-out;
}

.timeline-group-leave-active {
  animation: timeline-group var(--transition-time) reverse;
}

.timeline-group-leave-active .timeline-event-item {
  animation: timeline-event var(--transition-time) reverse;
}

.timeline-group-leave-active .timeline-connection-right,
.timeline-group-leave-active .timeline-connection-left {
  -webkit-animation: timeline-connection-leave var(--transition-time) ease-out;
          animation: timeline-connection-leave var(--transition-time) ease-out;
}

.timeline-group-leave-active .timeline-event-details-container {
  -webkit-animation: timeline-event-details-container-leave var(--transition-time) ease-out;
          animation: timeline-event-details-container-leave var(--transition-time) ease-out;
}

.timeline-group-leave-active .timeline-event-details {
  -webkit-animation: timeline-event-details-leave var(--transition-time) ease-out;
          animation: timeline-event-details-leave var(--transition-time) ease-out;
}

@-webkit-keyframes event-info {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 50vw;
  }
}

@keyframes event-info {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 50vw;
  }
}

@-webkit-keyframes event-info-item {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes event-info-item {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.event-info-enter-active {
  -webkit-animation: event-info var(--transition-time) ease-out;
          animation: event-info var(--transition-time) ease-out;
}

.event-info-leave-active {
  animation: event-info var(--transition-time) reverse;
}

.event-info-item-enter-active {
  -webkit-animation: event-info-item calc( var(--transition-time) / 4) ease-out;
          animation: event-info-item calc( var(--transition-time) / 4) ease-out;
}

.event-info-item-leave-active {
  animation: event-info-item calc( var(--transition-time) / 4) reverse;
}

div.event-info {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

:root {
  --font: 'Cormorant', serif;
  --font-size: 17px;
  --font-weight: 400;
  --font-color: black;
  --transition-time: 1s;
  --theme-light: white;
  --theme-dark: black;
  --theme-highlight: #807f7f;
  --timeline-border-color: black;
  --border-color: rgba(0, 0, 0, 0.3);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: var(--text-weight);
  font-family: var(--font);
  font-size: var(--font-size);
  background-color: white;
}

div.app {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.content {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight);
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clickable {
  cursor: pointer;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(auto-fit, 100px);
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.grid-item {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

div.title {
  font-size: 22px;
}

div.sub-title {
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  margin-top: 2px;
}

div.top {
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

div.middle {
  color: var(--font-color);
  background-color: var(--theme-light);
  -webkit-transition: background-color var(--transition-time);
  transition: background-color var(--transition-time);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 1px solid var(--border-color);
}

