div.categories {
}

div.category-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--theme-light);
    transition: background-color var(--transition-time) ease-out;
}

div.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: border-bottom calc( var(--transition-time) / 3) ease-out;
    border-bottom: 2px solid transparent;
}

div.category-name {
    padding: 0px 10px;
}

div.category-active {
    border-bottom: 2px solid var(--theme-highlight);
}
