div.categories {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: 175px;
    border-right: 2px solid var(--border-color);
    padding-top: 35px;
    position: absolute;
    left: 0;
    transition: all calc( var(--transition-time) / 2) ease;
    padding-bottom: 150px;
    background-color: var(--bg-color);
    z-index: 20;
}

div.categories.hidden {
    left: -175px;
}

div.category-menu {
    width: 175px;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: background-color var(--transition-time) ease;
    align-items: flex-end;
}

div.category {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    transition: all var(--transition-time) ease;
    font-size: var(--font-size);

    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 3px solid transparent;
}

div.category-name {
    padding: 0px 10px;
    white-space: nowrap;
}

div.category-active {
    position: relative;
    width: calc(100% - 15px);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 3px solid var(--theme-highlight);
    border-right: 2px solid var(--bg-color);
}

div.category-toggle {
    position: absolute;
    left: -100vw;
    top: -40px;
    cursor: pointer;
    transition: all var(--transition-time) ease;
    height: 0;
    z-index: 15;
}

@media (max-width: 600px) { 

    div.category-toggle {
        left: 35px;
    }

    div.categories {
        margin-left: 10px;
        padding-right: 10px;
    }

}
