@media print {

    div.photo {
        page-break-inside: avoid !important;
    }

    body {
        background-color: #fff !important;
        color: #000 !important;
    }

    div.middle, div.sub-header {
        color: #000 !important;
    }

    div.content {
        max-width: 7.5in !important;
    }

    div.content-area {
        margin-left: 25px !important;
        padding-right: 0px !important;
    }

    p {
        max-width: none !important;
    }

    a, .route-link, div.more-info {
        color: #000 !important;
    }

    div.categories {
        box-shadow: none !important;
        background-color: #fff !important;
        left: -200px !important;
        display: none !important;
    }

    div.category {
        border-left: 2px transparent !important;
    }

    div.category.category-active {
        background-color: transparent !important;
    }

    div.dates {
        color: #333 !important;
    }

    div.core-skills div.skill-icon svg, div.other-skills div.skill-icon svg, div.grid-item svg {
        color: #888 !important;
    }
}
