iframe {
    transition: all calc( var(--transition-time) / 2) ease;
}

div.youtube-player {
    overflow: hidden;
    border-top: 1px solid var(--border-color-dark);
    border-bottom: 1px solid var(--border-color-dark);
    border-right: 1px solid var(--border-color-dark);
    border-left: 1px solid var(--border-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all calc( var(--transition-time) / 2) ease;
    position: relative;
    z-index: 30;
}


div.videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 5px;
    padding: 5px;
}
