@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

@import "categories";
@import "timeline";

:root {

    --font: 'Cormorant', serif;
    --font-size: 17px;
    --font-weight: 400;
    --font-color: rgba(0,0,0,1);
    --transition-time: 1s;

    --theme-light: hsla(0,0,100%,1);
    --theme-dark: hsla(0,0,0,1);
    --theme-highlight: hsla(0,0,50%,1);

    --timeline-border-color: rgba(0,0,0,1);
    --border-color: rgba(0,0,0,0.3);

}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: var(--text-weight);
	font-family: var(--font);
    font-size: var(--font-size);
    background-color: rgba(255,255,255,1);
}

div.app {
    width: 100%;
    min-height: 100vh;
	min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.content {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1, h2, h3, h4 {
    font-weight: var(--font-weight);
}

div {
    box-sizing: border-box;
}

div.flex {
    display: flex;
}

.clickable {
    cursor: pointer;
}

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    width: 100%;
    justify-content: center;
    align-content: center;
}

div.grid-item {
    justify-self: center;
    align-self: center;
    text-align: center;
}

div.title {
    font-size: 22px;
}

div.sub-title {
    color: rgba(0,0,0,0.8);
    border-top: 1px solid rgba(0,0,0,0.5);
    padding-top: 5px;
    margin-top: 2px;
}

div.top {
    color: hsl(0,0,0);
    background-color: hsl(0,0,100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

div.middle {
    color: var(--font-color);
    background-color: var(--theme-light);
    transition: background-color var(--transition-time);
    flex: 1;
    border-top: 1px solid var(--border-color);
}
