@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

@import "categories";
@import "timeline";
@import "image-viewer";

:root {

    --font: 'Cormorant', serif;
    --font-size: 17px;
    --font-weight: 400;
    --font-color: rgba(0,0,0,1);
    --transition-time: .5s;

    --theme-light: hsla(0,0,100%,1);
    --theme-dark: hsla(0,0,0,1);
    --theme-highlight: hsla(0,0,50%,1);
    --theme-soft: hsla(0,0,50%,1);

    --timeline-border-color: rgba(0,0,0,1);
    --border-color: rgba(0,0,0,0.3);

    --content-padding: 25px;

}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: var(--text-weight);
	font-family: var(--font);
    font-size: var(--font-size);
    background-color: rgba(255,255,255,1);
}

div.app {
    width: 100%;
    min-height: 100vh;
	min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.content {
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1, h2, h3, h4 {
    font-weight: var(--font-weight);
}

* {
    box-sizing: border-box;
}

P {
    padding: calc(var(--content-padding) / 2) 0px var(--content-padding) 0px;
    line-height: 25px;
    margin: 0;
}

div.flex {
    display: flex;
    align-items: flex-start;
}

.clickable {
    cursor: pointer;
}

div.route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.content-item {
    max-width: 500px;
    width: 100%;
}

div.content-header {
    background: linear-gradient(to right, var(--theme-light), rgba(0,0,0,0));
    padding: 5px 10px;
}

/*
div.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    width: 100%;
    justify-content: center;
    align-content: center;
}

div.grid-item {
    justify-self: center;
    align-self: center;
    text-align: center;
}
*/

div.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    padding-bottom: var(--content-padding);
}

div.grid-item {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

div.grid-item svg {
    font-size: calc( var(--font-size);
    padding-right: 8px;
    position: relative;
    top: 2px;
}

div.title {
    font-size: calc( var(--font-size) + 10px);
}

div.sub-title {
    color: rgba(0,0,0,0.95);
    border-top: 1px solid rgba(0,0,0,0.7);
    padding-top: 5px;
    margin-top: 2px;
}

div.top {
    color: hsl(0,0,0);
    background-color: hsl(0,0,100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--content-padding);
}

div.middle {
    color: var(--font-color);
    flex: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%   {
        opacity: 1;
    }
}

.fade-enter-active {
    animation: fade calc( var(--transition-time) / 2) ease-out;
}

.fade-leave-active {
    animation: fade calc( var(--transition-time) / 2) reverse;
}

div.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.header-text {
    font-size: calc( var(--font-size) + 2px);
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin: 15px;
    padding: 10px 50px;
}

